<h2>All Categories</h2>

<h3><%= link_to "New Category", new_admin_category_path %></h3>


<% @categories.each do |category| %>
  <p><%= link_to category.name, admin_category_path(category.id) %>
    <div class="remove-link">
    <%= link_to "Delete", admin_category_path(category.id), method: :delete %>
  </div>
  </p>
<% end %>
