<h2>Your New Category</h2>

<h3><%= @category.name %></h3>

<% @category.gifs.each_with_index do |gif, index|  %>
  <img src="<%= gif.image_path %>">
  <% if (index + 1)%5 == 0 %><br><% end %>
<% end %>
